*{
 padding: auto;   
 margin: 0;
 box-sizing: border-box;
}


.hero{
    height: 100vh;
    width: 100%;
    background-image: 
      url("../assets/homepage.jpg");
    background-size: cover;
    background-position: center;
    border: 2px solid;
    }