.form-log {
    /* margin: 0; */
    padding-left: 43%;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 70vh;
  }

  .form-sign{
    padding-left: 36%;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 70vh;
  }